body 
{text-align: center;} /* eigentlich reichts im body, aber max wollte extra für jede schrift ein extra mittel befehl haha*/

h1 {text-align: center;}
h2 {text-align: center;}
h4 {text-align: center;} 